h2{
    font-family: sans-serif;
    color: royalblue;
}

body{
    background-color: #f2f2f2;
}

.title{
    font-family: sans-serif;
    color: #A65362;
    background-color: #D9C6B0;
    border-radius: 40px;
    padding-left: 1%;
    width: 60%;
    size: 2rem;
}

.subtitle{
    font-family: sans-serif;
    color: #696E8C;
    padding-left: 1%;
}

.paragraph{
    font-family: serif;
    width: 50%;
    padding-left: 1%;
}

.portfolio{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

